h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3.cent {
    text-align: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

span.und {
    text-decoration: underline;
}

span.bx {
    border: 1px solid rgb(10, 10, 66);
    padding: 1%;
}

span.bld {
    font-weight: 1000;
}

div.bx {
    border: 2px solid black;
}

div.und {
    text-decoration: underline;
}

div.bld {
    font-weight: 1000;
}

ol.fl {
    display: flex;
    list-style-type: none;
}

ol.none {
    list-style-type: none;
}

ol.cent {
    text-align: center;
}

ol.sp {
    list-style-type: ".ㅤㅤ";
}

ol.osp {
    list-style-type: "1.ㅤㅤ";
}

ol.tsp {
    list-style-type: "2.ㅤㅤ";
}

ol.thsp {
    list-style-type: "3.ㅤㅤ";
}

ol.fosp {
    list-style-type: "4.ㅤㅤ";
}

ol.fisp {
    list-style-type: "5.ㅤㅤ";
}

ul.none {
    list-style-type: none;
}

ul.arl {
    list-style-type: ">ㅤ";
}

li.bx {
    margin: 20px;
}

li.cent {
    text-align: center;
}